@import '../base/listas';

footer{
    margin-top: nth($margin,2);
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: nth($colores,1);

    @media screen and (min-width: 451px) and (max-width: 950px) {
        font-size: 20px;
    }
    section{
        display: flex;
        justify-content: space-around;
        margin-left: nth($margin,1);
        color: nth($colores,2);
    }
    .wathsapp{
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: nth($margin,1);
        a{
            .agrandar:hover{
                transform: scale(1.5);
            }
        }
    }
}