@import '../base/listas';

header{
    nav{
        .container-fluid{
            .navbar-toggler{
            background-color: #FFD700;
            }
            a{
                img{
                margin: nth($margin,1); 
                }
            }
            ul{
                .achicar:hover{
                    transform: scale(0.8);
                    li{
                    @media screen and (max-width: 450px) {
                    font-size: 20px;
                    }

                    @media screen and (min-width: 451px) and (max-width: 950px) {
                    font-size: 20px;
                    }
                        a{
                        color: 	#FFD700;
                        font-weight: bold;
                        }
                    }

                }
            }
        }
    }
}