.tecnicos{
    .personal{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;

        @media screen and (max-width: 450px) {
        text-align: center;
        }
    
    }
    .titulo-tecnicos{
        margin-left: 20px;

    }
    .matriculados{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        @media screen and (max-width: 450px) {
            display: flex;
            flex-direction: column;
        }
        .datos{
            border: solid 1px black;
            background-color: #FFD700;
            text-align: center;
            padding: 10px;
        }
    }
}
.servicios{
        display: flex;
        justify-content: space-around;
        text-align: center;
        @media screen and (max-width: 450px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }       
}

.servicios2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    @media screen and (max-width: 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        
}
