@import '../base/extends';

.contacto{
    .contacte{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;

        @media screen and (max-width: 450px) {
        text-align: center;
        }

    }
    .elementos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;

        @media screen and (max-width: 450px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

        @media screen and (min-width: 451px) and (max-width: 950px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }

        .formulario{
            .partes{
                display: flex;
                flex-direction: column;
            }
            .boton{
                background-color: black;
                color: #FFD700;
                margin-top: 10px;
            }
        } 
    }
}